# Dependencies
node_modules/
app/node_modules/

# Production builds
dist/
app/dist/

# OS files
.DS_Store
Thumbs.db

# Heavy files / Archives
*.zip
*.png
*.jpg
*.jpeg
*.docx

# Local env files / secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
